[submodule "android-database-sqlcipher/src/main/external/sqlcipher"]
	path = android-database-sqlcipher/src/main/external/sqlcipher
	url = https://github.com/sqlcipher/sqlcipher.git
	ignore = untracked
[submodule "android-database-sqlcipher/src/main/external/sqlite-fake-crypto-batch-connection-core"]
	path = android-database-sqlcipher/src/main/external/sqlite-fake-crypto-batch-connection-core
	url = https://github.com/brodybits/sqlite-fake-crypto-batch-connection-core
